*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #EDDDD4;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

#container{
    height:70vh;
    width: 60vh;
    gap: 10px;
    text-align: center;
}

.game{
    gap:1.5vmin;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height:18vh;
    width: 18vh;
    background-color: #C44536;
    color: #EDDDD4;
    flex-wrap: wrap;
    border-radius: 10px;
    gap:50px;
    font-size: 8vh;
    cursor: pointer;
}

h1{
    color: #283D3b;
    text-align: center;
    font-size: 10vh;

}
  #reset{
    border-radius: 10px;
    height: 10vh;
    width: 25vh;
    background-color: #197278;
    color:#EDDDD4;
    font-size: 4vh;
    padding: 1px;
  }
  .msgcontainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10vh;
    color: #283D3b;
    margin-top: 10px;
    padding  : 5px;
  }

  .hide{
    display: none;
  }
  #newgame{
   border-radius: 10px;
    height: 10vh;
    width: 25vh;
    background-color: #197278;
    color:#EDDDD4;
    font-size: 4vh;
    padding: 1px;
  }
